body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 60%;
  padding: 200px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.header h1 {
  font-size: 2em;
  text-align: center;
  color: #333;
}
.input-group label {
  font-size: 24px; 
}

#six-words-story {
  font-size: 28px; 
  text-align: center;
  color: #ffffff;
  background-color: #f72fb1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.input-group {

  text-align: center; /
}

.input-group label{
  display: block;
  width: 50%;
  margin-bottom: 10px;
}

.input-group input{
  display: block;
  width: 50%;
  margin-bottom: 30px;
  margin: 0 auto; /* Auto margins for horizontal centering */
  text-align: center;

}

.input-group button {
  display: block;
  width: 15%;
  margin-bottom: 10px;
  margin: 0 auto; /* Auto margins for horizontal centering */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px; 
  color: #ffffff;
}


.six-words-story {
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  
}
.story-image{
  width: 200px;
  height: 200px;
  object-fit: cover; 
  border: 3px solid #ff07b5;
  margin: 0 10px 20px 10px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 60px; 
  margin-right: 60px; 
}
.image-item img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  border: 3px solid #ff07b5;
  margin: 0 10px 20px 10px;
  vertical-align: middle;
  display: inline-block;

}
button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #00c3ff;
  color: white;
  cursor: pointer;
  width: 10%;

}

button:hover {
  background-color: #868686;
}

.image-container {
  text-align: center;
  
}

.image-container img {
  width: 100px;  
  height: 100px;
  object-fit: cover; 
  border: 2px solid #000000; 
  margin-bottom: 10px; 
}

.image-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}


.image-caption {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

.aside {
  margin-top: 40px;
}

.list-container {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

footer p {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
